
<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body style="background-color: black;">
	<div style="margin-left: 42%;">
		<h1 style="color: whitesmoke; font-family: serif;">projects</h1>
	</div>

	<!-- networkscanner -->
<div>

	<div style="background-color: black; color: white; border-color: whitesmoke;" class="card" >
		<div class="card-header">
		network scanner
		</div>
		<div class="card-body">
		  <h5 class="card-title">network scanner</h5>
		  <p class="card-text">its network scanner that wrote with python and scapy library</p>
		  <a href="https://github.com/hos3sein/network-scanner.git" class="btn btn-primary">see the code</a>
		</div>
	  </div>


	<!-- crypto bot -->

	<div style="background-color: black; color: white; border-color: whitesmoke;margin-top: 3%; " class="card"  >
		<div class="card-header">
		trader bot
		</div>
		<div class="card-body">
		  <h5 class="card-title">trader bot</h5>
		  <p class="card-text">a trader bot with self algorithm and rule base with python that use many library and work on the big datas</p>
		  <a href="https://github.com/hos3sein/bot.git" class="btn btn-primary">see the code</a>
		</div>
	  </div>

	  <!-- crypto currency algorithm -->
	  <div style="background-color: black; color: white; border-color: whitesmoke;margin-top: 3%; " class="card"  >
		<div class="card-header">
		algorithm
		</div>
		<div class="card-body">
		  <h5 class="card-title">analyzer</h5>
		  <p class="card-text">the algorithm for divergance in cryptocurrencies and analys the data that recive from the kucoin with python</p>
		  <a href="https://github.com/hos3sein/crypto-currency-bot.git" class="btn btn-primary">see the code</a>
		</div>
	  </div>

	  <!-- socket -->
	  <div style="background-color: black; color: white; border-color: whitesmoke;margin-top: 3%; " class="card"  >
		<div class="card-header">
		chatroom
		</div>
		<div class="card-body">
		  <h5 class="card-title">chatroom</h5>
		  <p class="card-text">simple chatroom with python and socket library </p>
		  <a href="https://github.com/hos3sein/chatroom.git" class="btn btn-primary">see the code</a>
		</div>
	  </div>

	  <!-- site -->
	  <div style="background-color: black; color: white; border-color: whitesmoke; margin-top: 3%;" class="card"  >
		<div class="card-header">
		web developing
		</div>
		<div class="card-body">
		  <h5 class="card-title">web developing</h5>
		  <p class="card-text">wrote simple codes with html/css/js/node js/bootstrap and ...</p>
		  <a href="https://github.com/hos3sein/sites.git" class="btn btn-primary">see the code</a>
		</div>
	  </div>


	  <div class="container-fluid text-center">
		
		<p style="display: inline; margin-top: 5%; color: azure;">do you have project?? </p>
		<button style="margin-left: 10%; margin-bottom: 
		10%; border-radius: 
		7%; margin-top: 5%; width: 300px;" onclick="fn()">contact-me</button>

	  </div>

</div>
</body>


	<script type="text/javascript">
		const fn = ()=>{
			window.location = 'projectR'
		}


	</script>
</html>