<!DOCTYPE html>
<html>

	<%- include('./partials/head.ejs') %>
<body>
    <form action="/savep" method="post" >
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="names">
        <label for="floatingInput">first name and last name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="phone-number">
        <label for="floatingPassword">phone number</label>
    </div>
    <button>register</button>
</form>


</body>



</html>